# ST代码片段: CASE多分支选择
# 触发关键字: case

CASE {{variable}} OF
    {{value_1}}:
        (* 处理情况1 *)

    {{value_2}}:
        (* 处理情况2 *)

    {{value_3}}:
        (* 处理情况3 *)

ELSE
    (* 默认处理 *)
END_CASE;
